<li id="item_{{attributes.id}}" class="media">
	<i class="img product_img ras" style="background: url('{{attributes.product.picture_url}}');"></i>
	<div class="bd">
		<h3>{{attributes.product.name}}</h3>
		<h4>Quantity: <span class="quantity">{{ attributes.quantity }}</span></h4>
		<p>
			<a href="javascript:void(0);" class="button remove">Remove</a>
			<a href="javascript:void(0);" class="button qty" data-amount="1">+</a>
			<a href="javascript:void(0);" class="button qty" data-amount="-1">-</a>
		</p>
	</div>
</li>