<div class="head">
	<div class="content">
	<div class="header">
		<h1><span>Air</span><span class="cart">Cart</span></h1>
		<div class="tagline">Self check-out and ditch the lines.</div>
	</div>
	<div class="video">
		<object width="480" height="296" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
		  <param name="flashvars" value="vid=17214791&amp;autoplay=false"/>
		  <param name="allowfullscreen" value="true"/>
		  <param name="allowscriptaccess" value="always"/>
		  <param name="src" value="http://www.ustream.tv/flash/viewer.swf"/>
		  <embed flashvars="vid=17214791&amp;autoplay=false&amp;t=30m" width="480" height="296" allowfullscreen="true" allowscriptaccess="always" src="http://www.ustream.tv/flash/viewer.swf" type="application/x-shockwave-flash"></embed>
		</object>
	</div>
	<div class="points">
		<div>
			<div class="title">Shoppers</div>
			<ul>
				<li>Avoid lines</li>
				<li>Track your shopping</li>
				<li>Effortless offers and tips when you want 'em</li>
			</ul>
		</div>
		<div>
			<div class="title">Stores</div>
			<ul>
				<li>Offer a premium experience</li>
				<li>Save on registers</li>
				<li>Make shoppers more loyal</li>
			</ul>
		</div>
		<div>
			<div class="title">Brands</div>
			<ul>
				<li>Track sales in real time</li>
				<li>Rollout customized offers instantly</li>
				<li>Recommend products when shoppers are in the store</li>
			</ul>
		</div>
	</div>
		<div class="follow">
			Chat with us @<a href="http://twitter.com/aircartapp">aircartapp</a>
		</div>
</div>
</div>
<div class="foot">
	<div class="content">
		<div class="about">
			<div class="title">
				Designed and presented at SF TechCrunch Disrupt 2011 Hackathon.
			</div>
			<ul class="accolades">
				<li>Winner of <a href="http://www.utest.com/">uTest</a>'s “Most Likely to Succeed in the Wild”</li>
				<li><a href="http://www.techcrunch.com">TechCrunch</a> Staff Favorite</li>
			</ul>
		</div>
		<div class="team">
			<div class="title">Built by</div>
			<ul>
				<li><a href="mailto:bestrada@gmail.com"><%= image_tag "/assets/team/bryan.jpg" %></a></li>
				<li><a href="http://twitter.com/tarikjn"><%= image_tag "/assets/team/tarik.jpg" %></a></li>
			</ul>
		</div>
	</div>
</div>
