// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.cart {
	
	td.image {
		img {width: 100px;}
	}
}

.total {
	font-size: 2em;
	vertical-align: baseline;
	
	.currency {}
	.e { font-size: 2em; vertical-align: baseline; }
	.cents { vertical-align: super; }
}
