<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="initial-scale=1.0,width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	
	<title>Aircart</title>
	<%= stylesheet_link_tag "mobile" %>
	<%= javascript_include_tag "mobile" %>
</head>
<body>
<%= yield %>

<script type="text/javascript">
(function() {
	Backbone.history.start();
})();
</script>
</body>
</html>
